<a href="https://colab.research.google.com/github/joan-chep/WEEK_4_IP_PREP/blob/main/Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
# Importing the libraries we will need 

# Importing the pandas library
# 
import pandas as pd

In [16]:
# Importing the numpy library
#
import numpy as np

# Reading our Dataset from CSV file

In [18]:
# Let's read the data from the CSV file and create the dataframe to be used
# 
df = pd.read_csv("//content/Autolib_dataset (2) (1).csv")
df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

#Previewing our Dataset

In [21]:
#previewing the first ten rows of our data
df.head(10)
df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

#Accessing Information about our Dataset

In [22]:
#information about our dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

#Cleaning our Dataset

In [23]:
df.drop(['Displayed comment', 'ID', 'Geo point', 'Address', 'Cars'], axis = 1, inplace = True)
df

      Bluecar counter  Utilib counter  Utilib 1.4 counter  ...  day hour minute
0                   0               0                   0  ...    8   11     43
1                   6               0                   0  ...    6    7     24
2                   3               0                   2  ...    3   20     14
3                   3               1                   0  ...    4    4     37
4                   3               0                   0  ...    8   17     23
...               ...             ...                 ...  ...  ...  ...    ...
4995                2               0                   0  ...    6   11     26
4996                4               0                   0  ...    4   16     56
4997                1               0                   0  ...    1    7      1
4998                2               0                   0  ...    4   17     27
4999                4               0                   0  ...    8   10      2

[5000 rows x 20 columns]

In [24]:
#Outliers
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1
(df < (Q1 - 1.5 * IQR)) |(df > (Q3 + 1.5 * IQR))

      Bluecar counter  Charge Slots  Charging Status  ...  minute  month   year
0               False         False            False  ...   False  False  False
1               False         False            False  ...   False  False  False
2               False         False            False  ...   False  False  False
3               False          True            False  ...   False  False  False
4               False         False            False  ...   False  False  False
...               ...           ...              ...  ...     ...    ...    ...
4995            False         False            False  ...   False  False  False
4996            False          True            False  ...   False  False  False
4997            False          True            False  ...   False  False  False
4998            False         False            False  ...   False  False  False
4999            False         False            False  ...   False  False  False

[5000 rows x 20 columns]

#Completeness

In [25]:
#finding missing values
df.isnull().any()

Bluecar counter        False
Utilib counter         False
Utilib 1.4 counter     False
Charge Slots           False
Charging Status        False
City                   False
Kind                   False
Postal code            False
Public name            False
Rental status          False
Scheduled at            True
Slots                  False
Station type           False
Status                 False
Subscription status    False
year                   False
month                  False
day                    False
hour                   False
minute                 False
dtype: bool

#Consistency

In [26]:
df[df.duplicated()]
df2=df.drop_duplicates()
df.head()

   Bluecar counter  Utilib counter  Utilib 1.4 counter  ...  day hour minute
0                0               0                   0  ...    8   11     43
1                6               0                   0  ...    6    7     24
2                3               0                   2  ...    3   20     14
3                3               1                   0  ...    4    4     37
4                3               0                   0  ...    8   17     23

[5 rows x 20 columns]

#Uniformity

In [27]:
# Creating a new column where we find the difference in the number of bluecars at the station
df2['Bluecar_Diff'] = df2['Bluecar counter'].diff()
df2.head()

   Bluecar counter  Utilib counter  ...  minute  Bluecar_Diff
0                0               0  ...      43           NaN
1                6               0  ...      24           6.0
2                3               0  ...      14          -3.0
3                3               1  ...      37           0.0
4                3               0  ...      23           0.0

[5 rows x 21 columns]

The most popular hour of the dayfor picking up a shared electriccar(Bluecar) in the city of Paris over the month of April 2018

In [28]:
df2[df2['Bluecar_Diff'] < 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
21    113
16    107
19    104
9      97
13     95
14     94
3      93
20     90
7      89
18     89
22     89
23     88
5      88
8      87
15     87
17     85
4      82
0      78
12     78
6      75
11     73
2      72
1      72
10     71
Name: hour, dtype: int64

 The most popularhour for returning cars?

In [29]:
df2[df2['Bluecar_Diff'] > 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
6     101
11     98
2      98
3      98
12     95
18     95
5      92
8      89
10     89
7      87
0      87
22     86
13     84
9      84
21     84
1      84
15     82
4      80
23     80
20     77
17     76
16     74
19     74
14     69
Name: hour, dtype: int64

What station is the most popular

In [30]:
#overall
df2[(df2['Kind'] == 'STATION') & (df2['Status'] == 'ok')].groupby('Public name')['Public name'].count().sort_values(ascending= False)

Public name
Paris/Porte de Montrouge/8         13
Paris/Courcelles/69                11
Paris/Voltaire/182                 11
SÃ¨vres/WolfenbÃ¼ttel/1            11
Paris/Philippe Auguste/126         11
                                   ..
Paris/Jourdan/26                    1
Paris/Jean Veber/3                  1
ChÃ¢tillon/Paris/21                 1
Paris/Faubourg-Saint-Martin/168     1
Paris/FÃ©dÃ©ration/10               1
Name: Public name, Length: 915, dtype: int64

What station is at the most popular picking hour

In [31]:
df2[(df2['Kind'] == 'STATION') & (df2['Status'] == 'ok') & (df2['hour'] == 21)].groupby('Public name')['Public name'].count().sort_values(ascending= False)

Public name
Paris/Tronchet/19                   4
Paris/Voltaire/182                  3
Paris/Belleville/22                 2
Paris/Reille/59                     2
Paris/Saint-MandÃ©/94               2
                                   ..
Paris/Lourmel/79                    1
Paris/Louis Blanc/6                 1
Paris/Lorraine/22                   1
Paris/LiÃ¨ge/24                     1
Alfortville/Port Ã  l'Anglais/39    1
Name: Public name, Length: 171, dtype: int64

What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?
Overall?

In [33]:
df2[(df2['Kind'] == 'STATION') & (df2['Status'] == 'ok')].groupby('Postal code')['Postal code'].count().sort_values(ascending= False)

Postal code
75015    220
75016    197
75017    180
75013    155
75011    155
        ...
92200      3
92340      3
94700      3
94410      2
94100      2
Name: Postal code, Length: 100, dtype: int64

What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?

In [34]:
#At the most popular picking hour?
df2[(df2['Kind'] == 'STATION') & (df2['Status'] == 'ok') & (df2['hour'] == 4)].groupby('Postal code')['Postal code'].count().sort_values(ascending= False)

Postal code
75016    11
75015     9
75017     8
75005     8
75011     8
75013     7
75007     6
75012     5
75008     5
75009     5
92000     4
75010     4
75004     4
75018     4
75020     4
75006     3
94220     3
94500     3
92170     3
92130     2
92100     2
95100     2
91370     2
75014     2
92240     2
75003     2
92190     2
92220     2
92260     2
92310     2
92350     2
94150     2
94140     2
94120     2
94000     2
93700     2
93600     2
93310     1
75002     1
94700     1
94450     1
94300     1
93360     1
93350     1
93100     1
93110     1
94800     1
92700     1
92600     1
75019     1
92400     1
78150     1
92390     1
92360     1
92320     1
92150     1
92290     1
92210     1
75001     1
Name: Postal code, dtype: int64

Utilib counter

In [36]:
#creating a new column where we find the difference in the number of utilib at the counter
df2['Utilib_Diff'] = df2['Utilib counter'].diff()
df2.head()

   Bluecar counter  Utilib counter  ...  Bluecar_Diff  Utilib_Diff
0                0               0  ...           NaN          NaN
1                6               0  ...           6.0          0.0
2                3               0  ...          -3.0          0.0
3                3               1  ...           0.0          1.0
4                3               0  ...           0.0         -1.0

[5 rows x 22 columns]

In [37]:
#The most popular hour of the dayfor picking up a shared electriccar(Utilib) in the city of Paris over the month of April 2018
df2[df2['Utilib_Diff'] < 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
6     17
14    16
11    15
2     15
19    15
9     14
22    13
10    13
3     12
5     11
23    11
16    11
20    11
12    10
15    10
8     10
18    10
1     10
4      9
21     9
13     8
7      8
17     7
0      6
Name: hour, dtype: int64

In [38]:
#What is the most popular hour for returning cars?
df2[df2['Utilib_Diff'] > 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
5     17
7     16
8     16
1     14
3     14
6     14
11    13
2     13
18    13
14    13
13    13
22    13
17    12
9     12
15    11
10    11
0     10
21    10
19     8
20     8
12     7
16     7
4      5
23     2
Name: hour, dtype: int64

In [40]:
#What station is the most popular?
#Overall
df2[(df2['Kind'] == 'STATION') & (df2['Status'] == 'ok') & (df2['hour'] == 5)].groupby('Public name')['Public name'].count().sort_values(ascending= False)

Public name
Paris/ChÃ¢teau Landon/24              3
Paris/La BoÃ©tie/37                   2
Suresnes/Salomon de Rothschild/3      2
Paris/MÃ©nilmontant/122               2
Gennevilliers/Louis Roche/125         2
                                     ..
Paris/Pommard/7                       1
Paris/Philippe Auguste/1              1
Paris/Paul Barruel/44                 1
Paris/Parmentier/125                  1
Alfortville/Jean-Baptiste Preux/17    1
Name: Public name, Length: 157, dtype: int64

In [41]:
#What station is the most popular?
#At the most popular picking hour?
df2[(df2['Kind'] == 'STATION') & (df2['Status'] == 'ok') & (df2['hour'] == 5)].groupby('Postal code')['Postal code'].count().sort_values(ascending= False)

Postal code
75016    11
75015    10
75008    10
75010     9
75012     9
75014     8
75017     6
75020     6
75011     5
75018     5
75007     5
94800     4
93700     4
92700     4
92600     4
94000     4
92150     4
75004     4
92000     4
92220     3
92230     3
92140     3
75002     3
92500     3
75005     3
75019     2
92100     2
78140     2
78150     2
75009     2
75003     2
75013     2
92160     2
92420     2
92350     2
93170     2
93100     2
92130     1
94450     1
94300     1
94140     1
93400     1
93360     1
93260     1
93230     1
92410     1
91370     1
92400     1
92390     1
92370     1
92320     1
92310     1
78000     1
92210     1
92190     1
91330     1
95100     1
Name: Postal code, dtype: int64

In [43]:
#What postal code is the most popular for picking up utilib? Does the most popular station belong to that postal code?
#At the most popular picking hour?
df2[(df2['Kind'] == 'STATION') & (df2['Status'] == 'ok') & (df2['hour'] == 4)].groupby('Postal code')['Postal code'].count().sort_values(ascending= False)

Postal code
75016    11
75015     9
75017     8
75005     8
75011     8
75013     7
75007     6
75012     5
75008     5
75009     5
92000     4
75010     4
75004     4
75018     4
75020     4
75006     3
94220     3
94500     3
92170     3
92130     2
92100     2
95100     2
91370     2
75014     2
92240     2
75003     2
92190     2
92220     2
92260     2
92310     2
92350     2
94150     2
94140     2
94120     2
94000     2
93700     2
93600     2
93310     1
75002     1
94700     1
94450     1
94300     1
93360     1
93350     1
93100     1
93110     1
94800     1
92700     1
92600     1
75019     1
92400     1
78150     1
92390     1
92360     1
92320     1
92150     1
92290     1
92210     1
75001     1
Name: Postal code, dtype: int64